<div id="contentSocial">
  <div class="eachsocial"><script type="text/javascript">mbgc='f5f5f5';ww='175';mbc='cecece';bbc='3F79D5';bmobc='3b71c6';bbgc='4889F0';bmoc='3F79D5';bfc='FFFFFF';bmofc='ffffff';tlc='cecece';tc='6a6a6a';nc='6a6a6a';bc='6a6a6a';l='y';fs='12';fsb='11';bw='80';ff='4';pc='4889F0';b='s'; pid='101319964105667630537';</script><script type="text/javascript" src="http://widgetsplus.com/google_plus_widget.js"></script>
  </div>
  <div class="eachsocial"><!-- Facebook Badge START --><a href="https://www.facebook.com/aniket.dahotre" rel="me" target="_TOP" title="Aniket Dahotre"><img src="https://badge.facebook.com/badge/779500057.9817.1113485010.png" width="111" height="84" style="border: 1px solid #CECECE; border-radius: 3px 3px 3px 3px;" /></a><!-- Facebook Badge END -->
  </div>

  <div class="eachsocial" style="border: 2px dashed Wheat; border-radius:5px; padding: 5px 0px 5px 5px;">
    <!-- SnapWidget -->
    <a href="http://instagrid.me/dahotre/"><img src="/images/Instagram.png" style="height:36px;"/></a><br />
    <iframe src="http://snapwidget.com/sl/?u=ZGFob3RyZXxpbnwxMDB8MnwzfHx5ZXN8NXxub25l" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:115px; height: 115px" ></iframe>
  </div>
  <div class="eachsocial">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 10,
        interval: 30000,
        width: 'auto',
        height: 200,
        theme: {
          shell: {
            background: '#b9dcfa',
            color: '#303030'
          },
          tweets: {
            background: '#fcfcfc',
            color: '#303030',
            links: '#3081c8'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: false,
          behavior: 'all'
        }
      }).render().setUser('dahotre').start();
    </script>
  </div>

  <div class="eachsocial">
    <a href="http://www.linkedin.com/in/aniketdahotre" rel="me">
      <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Aniket Dahotre's profile on LinkedIn">
    </a>
  </div>
  <div class="eachsocial">
    <!-- Start of Flickr Badge -->
    <style type="text/css">
      #flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#666666;}
      #flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
      #flickr_icon_td {padding:0 5px 0 0 !important;}
      .flickr_badge_image {text-align:center !important;}
      .flickr_badge_image img {border: 1px solid #CECECE !important; border-radius: 3px 3px 3px 3px;}
      #flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
      #flickr_badge_uber_wrapper a:hover,
      #flickr_badge_uber_wrapper a:link,
      #flickr_badge_uber_wrapper a:active,
      #flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
      #flickr_badge_wrapper {}
      #flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}
    </style>
    <table id="flickr_badge_uber_wrapper" cellpadding="0" cellspacing="5" border="0">
      <tr><td><a href="http://www.flickr.com/40111792%40N07" id="flickr_www" rel="me"><img src="/images/flickr.png" /> &nbsp;&nbsp;<strong style="color:#3993ff">flick<span style="color:#ff1c92">r</span></strong></a>
        <table cellpadding="0" cellspacing="10" border="0" id="flickr_badge_wrapper">
          <tr><script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=1&display=random&size=t&layout=h&source=user&user=40111792%40N07"></script>
          </tr>
        </table>
      </td></tr>
    </table>
    <!-- End of Flickr Badge -->
  </div>
</div>