<% content_for :resources do %>
<%= stylesheet_link_tag 'contact', :media => 'screen'  %>
<% end %>
<div id="contactMain" typeof="foaf:Person" xmlns:foaf="http://xmlns.com/foaf/0.1/">
	<div id="contactHead">
		<div id="logo">
			<img src="/images/logo.png" alt="Horns, copied from Google chat emoticon \m/. Recreated by Rishikesh Adhikari." />
		</div>
		<div id="contactTitle">
			<h1 property="foaf:name">Aniket Dahotre</h1>
		</div>
	</div>
	<div id="contactContent">
		<p>Currently working as a Software Developer <span style="text-decoration: line-through;">in Test</span> at <a href="http://o.co" target="_blank" style="color: red;"><span style="text-decoration: line-through;">O.co (also known as Overstock.com)</span>Overstock.com</a>, I have deep interest in developing and designing websites. I never stuck to one technology and one personal website since geocities and bravenet days. I have explored and loved several programming languages that I have used, to write websites &amp; other software.</p>
		<p>
			<a href="http://www.dreamhost.com/r.cgi?1087348|GIDDYUP">
		<img style="padding:10px 10px 10px 10px;" border="0" alt="Green Web Hosting! This site hosted by DreamHost."
		src="https://secure.newdream.net/green5.png" height="75" width="75" align="left"/></a>
		I love to wander new places and take photographs. Sometimes, I avoid taking photographs, because, there are some moments and experiences that can remain much more beautiful in memory than print! <span style="text-decoration: line-through; color:DarkGray;">After buying my first car, </span><span style="text-decoration: line-through;">long drives at night</span> <span style="text-decoration: line-through; color:DarkGray;">checking my debt go down on <a href="http://www.mint.com">Mint.com</a></span>Watching shows of sit-down comedians and satirists like Jon Stewart, Colbert Report has become one of my favorite activities of the day.. <span style="text-decoration: line-through;">err.. night</span>! I love rock music, especially 70-90s. You can listen to my <a href="http://broadcaster.pandora.com/t?r=927&c=901946&l=37961&ctl=35830B0:DED91C7925D2236421CD495193788F15F237C5BC0E41A2D8&" rel="nofollow" target="_blank">Pandora radio station here.</a></p>
		<p>Here's a <a href="http://docs.google.com/viewer?url=http%3A%2F%2Fwww.dahotre.com%2Fdownloads%2FResume.docx">link to my resume</a> for the interesting (?) stuff.</p>
		<p>	My main goal of life keeps on changing. The latest one is to buy a <span style="text-decoration: line-through;">brand new BMW</span>  shiny Tesla Model S!</p>
		<p>So if you can do anything to help me achieve my goal, feel free to contact me via email &lt;lastname&gt;.&lt;firstname &gt;@ gmail .com or other bunch of social networks:</p>
	</div>
	<%= render :partial => 'social_content' %>

</div>