<div id="extnMessage">
	Don't miss awesome deals on Overstock.com. Install <a href="http://www.dahotre.com/deals">this Chrome extension</a>. <img id="closeDeal" src="/images/closelabel.png" name="closeDeal" alt="Close message.." />
</div>