<div id="overlay">
	Men at work.. Check out this page later!
	<br />
	<img src="/images/men_at_work.jpg" />
	<div id="draftAd">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-6900060547224877";
		/* Draft Page Leaderboard */
		google_ad_slot = "8123501585";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>