<div id="recs">		
		<script language='JavaScript'>
		var OB_langJS = 'http://widgets.outbrain.com/lang_en.js'; var OBITm = '1316911940261';var OB_raterMode = 'none';var OB_recMode = 'rec'; 

		var OutbrainPermaLink='<%= url %>'; 

		 if ( typeof(OB_Script)!='undefined' )OutbrainStart(); else { var OB_Script = true; var str = unescape("%3Cscript src=\'http://widgets.outbrain.com/OutbrainRater.js\' type=\'text/javascript\'%3E%3C/script%3E"); document.write(str); }
		 </script>
	</div>